/* Web view */

.header {
    height: 10vh;
    background-color: gray;
    margin-bottom: 5vh;
}

.footer {
    height: 10vh;
    background-color: gray;
    margin-top: 5vh;
}

.section {
    background-color: red;
}

.article {
    background-color: orange;
}

.aside {
    background-color: yellow;
}

.container {
    display: flex;
    height: 70vh;
}

.box1 {
    height: 70vh;
    width: 75%;
}

.section {
    height: 35vh;
}

.article {
    height: 35vh;
}

.box2 {
    height: 70vh;
    width: 25%;
}

.aside {
    height: 70vh;
}

/* Tab view */

@media screen and (max-width: 768px) {
    .box1 {
        width: 50%;
    }

    .box2 {
        width: 50%;
    }
}

/* Mobile view */

@media screen and (max-width: 540px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    .box1 {
        height: 46.66vh;
        width: 100%;
    }

    .section {
        height: 23.33vh;
    }

    .article {
        height: 23.33vh;
    }

    .box2 {
        height: 23.33vh;
        width: 100%;
    }

    .aside {
        height: 23.33vh;
    }
}