/* Web view */

.header {
    height: 10vh;
    background-color: gray;
    margin-bottom: 2.5vh;
}

.footer {
    height: 10vh;
    background-color: gray;
    margin-top: 2.5vh;
}

.container {
    display: flex;
    height: 75vh;
}

.section1 {
    background-color: rgb(14, 190, 14);
    order: 2;
    width: 60%;
    height: 75vh;
}

.section2 {
    background-color: darkgreen;
    order: 1;
    width: 20%;
    height: 75vh;
}

.section3 {
    background-color: yellow;
    order: 3;
    width: 20%;
    height: 75vh;
}

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 75vh;
    }


    .section1 {
        order: 1;
        width: 100%;
        height: 45vh;
    }

    .section2 {
        order: 2;
        width: 50%;
        height: 30vh;
    }

    .section3 {
        order: 3;
        width: 50%;
        height: 30vh;
    }

}

/* Mobile view */

@media screen and (max-width: 540px) {

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 75vh;
    }


    .section1 {
        order: 1;
        width: 100%;
        height: 37.5vh;
    }

    .section2 {
        order: 2;
        width: 100%;
        height: 18.75vh;
    }

    .section3 {
        order: 3;
        width: 100%;
        height: 18.75vh;
    }

}